@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, tr, td, th, span, p, li, ul{
    padding: 0;
    margin: 0;
}

/* otp input box style css */
.ant-input-outlined{
    width: 56px;
    height: 49px;
    border-radius: 8px;
}

/* sweat alert custom button style css */
.custom-send-button {
    background-color: #12354E !important; /* Green */
    border: none;
    outline: none;
    width: 121px;
    height: 48px;
    border-radius: 8px !important;
    color: white;
    box-shadow: none !important;
    font-family: Roboto;
}

/* custom style css for ant design side menu */
.ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end: none !important;
}

/* sidemenu selected style css */
.ant-menu-light .ant-menu-item-selected{
    background: #12354E !important;
    color: white !important;
}


/* table styles css */

.table th {
    padding: 14px 16px;
}

.table td {
    padding: 0 16px;
}

/* ant design modal remove padding */
.ant-modal-content{
    padding: 8px !important;
}

/* select item color */
.ant-select-selection-item{
    color: #6A6A6A !important;
}

.ant-select-selector{
    border: none !important;
}