@tailwind base;
@tailwind components;
@tailwind utilities;


/* otp input box style css */
.ant-input-outlined{
    width: 56px;
    height: 49px;
    border-radius: 8px;
}

/* sweat alert custom button style css */
.custom-send-button {
    background-color: #12354E !important; /* Green */
    border: none;
    outline: none;
    width: 121px;
    height: 48px;
    border-radius: 8px !important;
    color: white;
    box-shadow: none !important;
    font-family: Roboto;
}

/* custom style css for ant design side menu */
.ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end: none !important;
}

/* sidemenu selected style css */
.ant-menu-light .ant-menu-item-selected{
    background: #12354E !important;
    color: white !important;
}